*{
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
}
body{
	background: url("http://www.texturatto.com/style/images/art/bg2.jpg") no-repeat;
	background-size:cover;
	position:relative;

}

.welcome{
	position: absolute;
	text-align: center;
	left: 0px;
	top: 300px;
	width:100%;
	font-size: 5em;
	
}

.cadastro{
	display:none;
	background-color: rgba(255, 255, 255, 0.4);
	width: 300px;
	height: 350px;
	margin: 0 auto;
	position: absolute;

}
.login{
	display:none;
	background-color: rgba(255, 255, 255, 0.2);
	width: 250px;
	height: 200px;
	margin: 0 auto;
	position: absolute;
}
.cadastro form{
	width: 200px;
	text-align: center;
	margin-right:0px;
	margin: 0 auto;
	padding-top: 15px;
}


.login form{
	width: 200px;
	text-align: center;
	margin-right:0px;
	margin: 0 auto;
	padding-top: 45px;
}

.botao{
	position: absolute;
	right:0px;
	top:0px;

}
input, .voltar{
	width: 200px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
}

.sub,.voltar{
	background-color: #cc0000;
	border: solid 0px;
	color: #fff;
	font-size: 0.8em;

}

.entrar-cadastrar{
	background-color: #cc0000;
	border: solid 0px;
	color: #fff;
	font-size: 1em;
	border-radius: 5px;
	padding: 7px;
	margin: 15px 15px 0px 0px;
}

